{% load static %}
{% load webpush_notifications %}

<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma/css/bulma.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% webpush_header %}
	{% block styles %}
	{% endblock %}
	<title>CHECKU :: 건국대학교 공지알리미</title>
</head>

<body>
	{% block content %}
	{% endblock %}
	
	{% block script %}
	{% endblock %}
</body>

</html>