/* main.css */
.main-container {
    padding-top: 3rem;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3rem;
}

.header-logout {
    padding: 0.8rem 2rem;
    background-color: #FBFBFB;
    border: 1px solid #EAEAEA;
    border-radius: 6rem;
    font-size: 16px;
    color: #7C7C7C;
}

.main-content {
    padding-bottom: 3rem;
}

.categories-container {
    padding: 1rem 0;
}

.category-entire {
    font-size: 20px;
    color: #53A770;
    font-weight: 900;
    cursor: pointer;
    padding-bottom: 2rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 3rem;
}

.category {
    width: 6rem;
    height: 6rem;
    background-color: #FBFBFB;
    border: 1px solid #EAEAEA;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #53A770;
    font-size: 1rem;
}

.category-id {
    display: none;
}

/* under desktop */
@media screen and (max-width: 768px) {
    .container {
        padding: 2rem;
    }
}