{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% providers_media_js %} 

<!DOCTYPE html>
<html>
  <head>
    <title>kudoc</title>

  </head>
  <body>
    {% block body %}

    <div>
        {% if user.is_authenticated %}
          {{user.username}}
        {% endfor %}
            <li><a href="{% url 'logout' %}">로그아웃</a></li>

            <form method="POST" action="{% url 'signup' %}">
              {% csrf_token %}
              <p> 건국대학교 웹메일로 인증하기 </p>
              <br>
              <input name="e_mail" type="email" value="">
              <br>
              <input class="btn btn-primary" type="submit" value="인증하기">
            </form>

        {% else %}
        <a href="{% url 'login' %}">Sign In</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>



