{% extends "accounts/base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
<div class="container main-container">
    {% if user.is_authenticated %}
    <div class="main-header">
        <div class="header-logout">
            로그아웃
        </div>
    </div>
    <div class="main-content">
        <div class="main-title">
            <p class="title">학교 공지사항</p>
        </div>
        <div class="main-subtitle subtitle">
            <p class="subtitle">알림받고 싶은 게시판을 선택해주세요</p>
        </div>
        <div class="categories-container">
            <div class="category-entire">
                전체 공지 받기
            </div>
            <div class="categories">
                {% for notice in notice_list %}
                <div class="category">
                    {{ notice.title }}
                    <span class="category-id">
                        {{ notice.id }}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <p>로그인 필요</p>
    {% endif %}
</div>
{% endblock %}


{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}